@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* general styling */
ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}


/* home page styling */
.records-title {
    margin-bottom: 1rem;
}

#records {
    border-collapse: collapse;
    width: 100%;
}

#records th, #records td {
    border: 1px solid #333;
    padding: .4rem;
}

#records th {
    text-align: left;
    background-color: #333;
    color: #fefefe;
}

/* general classes */

.container {
    margin: 0 auto;
    padding: 0 2%;
}

.close-button {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    padding: .2rem .4rem;
}


/* navbar styling */
.navbar {
    background-color: #333;
    padding: .8rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > .logo {
    font-size: 1.4rem;
    color: #fefefe;
}

.link-wrapper {
    display: flex;

}

.link-list > a {
    color: white;
    margin-left: 2rem;
    transition: 0.2s ease-in;
}

.link-list > a:hover {
    color: #cecece;
}

/* login styling */
.content-wrapper-login {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.info > p {
    margin: 1rem 0;
}

.info > p > a {
    color: #0449e9;
}

.info > p > a:hover {
    text-decoration: underline;
}

.input-wrapper > input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: .7rem;
    border: 1px solid #cecece;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #5195ea;
    background-color: #0449e9;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0449e9e0;
}

/* register styling */
.content-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.top-info > span {
    text-transform: uppercase;
    font-weight: bold;
}

.top-info > h1 {
    font-size: 1.4rem;
    margin: .5rem 0;
}

.top-info > p > a {
    color: #0449e9;
}

.top-info > p > a:hover {
    text-decoration: underline;
}

.form-inner-wrapper > p {
    margin: 1rem 0;
}

.form-inner-wrapper > p > input {
    margin: 0;
}

.notice {
    font-size: .8rem;
    color: rgb(40, 40, 155);
}

.first-name, .last-name {
    padding: .5rem 1rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid #cecece;
    outline: none;
}

.email, .username, .password1, .password2 {
    margin-bottom: 1rem;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #cecece;
    outline: none;
}

.submit-button {
    background-color: #0449e9;
    color: #ededee;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .6rem;
}

.submit-button:hover {
    background-color: #5195ea;
}

/* django form stuff */
.errorlist {
    color: red !important;
}