{% extends 'layout.html' %}

{% block body %}


<div class="container">
    <h1>Records</h1>

            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Creation Time</th>
                        <th>Phone</th>
                    </tr>
                </thead>

                <tbody>
                    {% if records %}
                        {% for record in records %}
                            <tr>
                                <td>{{ record.first_name }}</td>
                                <td>{{ record.last_name }}</td>
                                <td>{{ record.email }}</td>
                                <td>{{ record.created_at }}</td>
                                <td>{{ record.phone }}</td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                </tbody>
            </table>

    <p></p>
</div>

{% endblock %}