<nav class="navbar">
    <!-- change this -->
    <a href="{% url 'website:home' %}" class="logo">Django CRM</a>

    <ul class="link-wrapper">

        {% if user.is_authenticated %}
            <li class="link-list">
                <a href="{% url 'website:logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="link-list">
                <a href="{% url 'website:login' %}">Login</a>
            </li>

            <li class="link-list">
                <a href="{% url 'website:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>