{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <div class="content-wrapper">
        <div class="content-inner-wrapper">
            <div class="top-info">
                <span>start for free</span>
                <h1>Create new account.</h1>
                <p>Already a member? <a href="{% url 'website:login' %}">Log in</a></p>
            </div>
    
            <div class="form-wrapper">
                <form method="post" action="{% url 'website:home' %}">
                    {% csrf_token %}
                    <div class="form-inner-wrapper">
                        {{ form.as_p }}
                        <input type="submit" value="Register" class="submit-button">
                    </div>

    
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}